@import url(//db.onlinewebfonts.com/c/f02cf2e6e27a17bcfe9efa18c041c208?family=Redcollar);

p {
  padding: 0px;
  margin: 0px;
}

.container {
  position: relative;
}

.picture-wrapper {
  width: 100%;
  height: 355px;
  border: 1px solid white;
}

.aside-about-wrapper {
  height: 473px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #f51b1b;
}

.aside-text-block {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 24px;
  gap: 40px;
  background: #f51b1b;
  border-radius: 24px 24px 0px 0px;

  margin: -48px 0px;
}

.aside-block-name h1 {
  font-family: "Redcollar";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: -0.02em;
}

.aside-block-name span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.02em;
}

.aside-ul-list ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.aside-ul-list ul li {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.aside-ul-list span {
  display: flex;
  align-items: center;
}

.rigth-data {
  margin-left: 18px;
}

.about-me-text {
  margin-top: 58px;
  max-width: 690px;
}

.about-me-text p {
  text-align: justify;
}

.logo-wrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-logo-wrapper {
  display: none;
  position: absolute;
  left: 30px;
  top: -70px;
}

.about-table-wrapper {
  border: 1px solid white;
  height: 100%;
  padding: 48px 28px;
  margin-top: 33px;
}

.about-table-data-wrapper {
  display: flex;
}

.about-title h2 {
  font-family: "Redcollar";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;

  width: 124px;
  height: 16px;
}

.about-data-title {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  letter-spacing: -0.01em;
}

.about-data-wrapper {
  margin-left: 72px;
}

.about-data-specialty {
  opacity: 0.4;
}

.delimiter-line {
  opacity: 0.4;
  border: 1px solid #ffffff;
  margin: 20px 0px;
}

.about-data-block {
  margin-top: 8px;
}

.attainment-ul-list {
  list-style: none;
}

.attainment-ul-list {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.attainment-ul-list li {
  margin-right: 32px;
}

div.about-table-wrapper div.about-table-data-wrapper:nth-child(1) {
  min-height: 160px;
}

div.about-table-wrapper div.long-long:nth-of-type(3) {
  min-height: 365px !important;
}

.facts {
  margin: 30px 0;
}

.first-facts {
  list-style-type: decimal;
}
.first-facts li,
.second-facts li {
  margin: 5px 0;
}

@media (max-width: 1400px) {
  .attainment-ul-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media (max-width: 990px) {
  .about-table-data-wrapper {
    flex-direction: column;
  }
  .about-data-wrapper {
    margin: 0px;
  }
  .aside-block-name span {
    font-size: 16px;
  }
  .rigth-data {
    font-size: 16px;
  }
}

@media (max-width: 765px) {
  .logo-wrapper {
    display: none;
  }
  .mobile-logo-wrapper {
    display: block;
  }

  .container {
    position: unset !important;
  }

  .aside-about-wrapper {
    height: 288px;
  }

  .about-me-text {
    margin-top: 40px;
  }

  .about-table-wrapper {
    margin-top: 25px;
  }
  .attainment-ul-list li {
    margin: 0px;
  }

  div.about-table-wrapper div.about-table-data-wrapper:nth-of-type(3) {
    min-height: 160px;
  }

  .far,
  .attention {
    display: none;
  }
}

@media (max-width: 330px) {
  .attainment-ul-list {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
