/* font styles */
@import url(//db.onlinewebfonts.com/c/f02cf2e6e27a17bcfe9efa18c041c208?family=Redcollar);

@font-face {
  font-family: "Redcollar";
  src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot");
  src: url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f02cf2e6e27a17bcfe9efa18c041c208.svg#Redcollar")
      format("svg");
}
/*  */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #000000;
  color: white;
}
